
:root{
    --side-panel-width:80px;
    --track-panel-width:200px;
}

*{
    box-sizing: border-box;
}

.AudioRegion{
    position:relative;
    margin: 5px 0 ;
    display:inline-block;
    height:50px;
    background:pink;
    border: solid black 1px;
}
.AudioRegion:hover{
    cursor:grab;
}
.AudioRegionDrag{
    background:red;
}

.AudioTrack{
    background:cyan;
    border:solid black 1px;
    white-space: nowrap;
    display:flex;
}

.AudioTrackHeading{
    z-index: 9;
    background:yellow;
    border:solid black 1px;
    display:inline-block;
    position: sticky;
    left:0;
    width:var(--side-panel-width);
    display:flex;
    justify-content: center;
    align-items: center;
}

.AudioTrackHelper{
    display:none;
    z-index: 10;
    background:blue;
    border:solid black 1px;
    position: absolute;
    left: calc(100%);
    width:var(--track-panel-width);
    flex-direction: row;
    height:50px;
    overflow: hidden;
}
.AudioTrackHeading:hover .AudioTrackHelper{
    display:flex;
}


.AudioField{
    border:solid red 1px;
    width:max-content;
    overflow:hidden;
}
.AudioTimer{
    display:inline-block;
    position: sticky;
    left:0;
    border:solid black 1px;
    background:white;
    width:var(--side-panel-width);
}
.Timeline{
    position:relative;
    border:solid black 1px;
    width:max-content;
    white-space: nowrap;
}
.Timeline .TimelineBar{
    display:inline-block;
    border-left:solid gray 1px;
}

.Timeline .Playhead{
    position:absolute;
    z-index: 100;
    content:'';
    width:1px;
    height:800px;
    left:20%;
    background-color: red;
    border:solid red 1px;
}
