
:root{
    --side-panel-width:80px;
    --track-panel-width:200px;
}

*{
    box-sizing: border-box;
}

.AudioRegion{
    margin: 5px 0 ;
    display:inline-block;
    height:50px;
    background:pink;
    border: solid black 1px;
}

.AudioTrack{
    background:cyan;
    border:solid black 1px;
    white-space: nowrap;
    width:max-content;
    display:flex;
}

.AudioTrackHeading{
    background:yellow;
    border:solid black 1px;
    display:inline-block;
    position: sticky;
    left:0;
    width:var(--side-panel-width);
    display:flex;
    justify-content: center;
    align-items: center;
}

.AudioTrackHelper{
    display:none;

    background:blue;
    border:solid black 1px;
    position: absolute;
    left: calc(100%);
    width:var(--track-panel-width);
    flex-direction: row;
    height:50px;
    overflow: hidden;
}
.AudioTrackHeading:hover .AudioTrackHelper{
    display:flex;
}


.AudioField{
    border:solid red 1px;
    width:max-content;
}
.AudioTimer{
    display:inline-block;
    position: sticky;
    left:0;
    border:solid black 1px;
    background:white;
    width:var(--side-panel-width);
}
.AudioTimeline{
    position:relative;
    border:solid black 1px;
    width:max-content;
    white-space: nowrap;
}
.AudioTimeline div{
    display:inline-block;
    border-left:solid gray 1px;
}

.AudioTimeline::before{
    width:100px;
    height:800px;
    position:absolute;
    background-color: red;
    border:solid black 1px;
}
