.AudioTrack{
    background: red;
    white-space: nowrap;
    position:relative;
    width:100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.AudioTrackArmed{
    background:blue;
}

.AudioTrackHeading {
    background:yellow;
    z-index: 10;
    position:absolute;
    left:0;
    height:100%;
    width:50px;
}

