.AudioTrack{
    white-space: nowrap;
    position:relative;
    width:100%;
}

.AudioTrackArmed{
    background:blue;
}

.AudioTrackHeading {
    background:yellow;
    z-index: 10;
    position:absolute;
    left:0;
    height:100%;
    width:50px;
}

