
.AudioRegion{
    position:absolute;
    display:block;
    z-index: 1;
    touch-action: none;
    box-sizing: border-box;
    overflow: visible;
    /* transform-box: fill-box; */
}
.AudioRegionFrame{
    fill:none;
    stroke:black;
    stroke-width: 6px;
}


.AudioRegionGhostMove{
    pointer-events: none;
    z-index: 2;
    background:rgba(255, 58, 245, 0.178);
    border-width:2px;  
    border-style:dashed;
    height:90%;
    top:5%;
}
.AudioRegionGhostBuffer{
    pointer-events: none;
    z-index: 2;
    background:rgba(83, 184, 0, 0.5);
    border-style:dashed;
    border-width: 2px;
    height:90%;
    top:5%;
}
.AudioRegionSelected{
    z-index: 5;
}

.AudioRegion:hover {
    cursor: grab;
}

.DragHandle circle{
    fill:green;
}
